@import "tailwindcss";

:root {
  --background: #1A1A1A;
  /* Core Black */
  --foreground: #ffffff;
  --lime-lift: #D1FF74;
  --orange-pulse: #ff9609;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-core-black: #1A1A1A;
  --color-lime-lift: #D1FF74;
  --color-orange-pulse: #ff9609;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif);
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}