@import "tailwindcss";

:root {
  --background: #1A1A1A;
  /* Core Black */
  --foreground: #ffffff;
  --lime-lift: #D1FF74;
  --orange-pulse: #FFB273;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-core-black: #1A1A1A;
  --color-lime-lift: #D1FF74;
  --color-orange-pulse: #FFB273;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}